.hidden {
  display: none;
}
.dark {
  color: #0e0e11;
}
.text-center {
  text-align: center;
}

.change {
  text-decoration: underline;
  color: rgb(53, 139, 168);
  font-weight: bold;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.roboto {
  font-family: "Roboto Slab", sans-serif !important;
}

body {
  font-family: "Roboto Slab", serif;
  min-height: 100vh;
  width: 100%;
  color: azure;
  background-color: #0e0e11;
}

.blue {
  color: #007bff !important;
}
.white {
  color: azure;
}
.gold {
  color: goldenrod !important;
}

.red {
  color: rgb(192, 43, 43);
}
.minSlots {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 10px;
}

.maxSlots {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.approval {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.coSponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.11) !important;
  border-radius: 5px;
}

.approved-clubs-badge,
.club-proposals-badge {
  background-color: #52bb81;
  position: absolute;
  top: 0;
  right: -16px;
}

.uk-subnav-pill > .uk-active > a {
  background: none !important;
  border-bottom: 3px solid rgb(60, 138, 255);
  padding: 0;
  margin: 0;
}

.notification-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#logo {
  height: 150px;
}

#side-nav {
  background-color: #191f36;
  width: 19rem;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#right {
  margin-left: 19rem;
}

#side-nav a {
  color: azure;
  font-size: 1.2rem;
}
#side-nav .uk-active a {
  color: rgb(79, 236, 236);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: azure;
}
#user-name {
  margin: 0;
  margin-right: 15px;
}
.menu-panel {
  padding-right: 0;
  display: flex;
  background-color: #252525;
  height: 70px;
  width: 100%;
  justify-content: end;
  align-items: center;
}

.logout-button {
  background-color: #16458d;
  height: 100%;
}

#right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.horizontal {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.uk-icon {
  padding-right: 7px;
}

#pending-clubs,
#current-clubs {
  font-size: 2rem;
  font-weight: bold;
  color: #0e0e11;
}

.uk-card-header {
  background-color: azure;
}
.uk-card-header h3 {
  color: #0e0e11 !important;
}

.dash-nav {
  padding-left: 35px;
}

.delete {
  color: rgb(192, 43, 43);
  margin-top: 25px;
  cursor: pointer;
}

.uk-modal-body {
  background-color: #0e0e11;
}

.uk-radio:checked {
  background-color: #52bb81;
}

.uk-checkbox:checked {
  background-color: #8f2d00;
  color: #0e0e11;
}

.club-choice {
  display: flex;
  align-items: center;

}
.club-input {
  margin-top: 10px !important;
  margin-right: 10px !important;
}

#search-bar {
  text-align: end;
}

tbody tr:hover {
  background-color: rgb(50, 31, 104);
}

.uk-sortable-drag {
  color: #154a86;
}

#avatar-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.upload-button {
  background-color: goldenrod;
  color: aliceblue;
}
.settings-avatar {
  border-radius: 10px;
}
.green {
  color: #52bb81;
}

.student-attendance-card {
  background-color: #52bb81;
  color: #191f36;
}

#cover-photo {
  height: 500px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-photo-text {
  color: white;
  font-size: 5rem;
}
.cover-card-text{
  color: white !important;
font-size: 2rem;
}

#cover-photo-card{
  height: 100px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-club-cover{
  width: 100px;
  height: 100px;
  background-size: cover;
  margin-right: 25px;
}

#student-club-wrapper{
  display: flex;
  align-items: center;
}

.red-boarder {
  border: 5px solid red;
}

.club {
padding-left: 15px;
min-width: 675px !important;
}

.co-sponser-wrapper{
display: flex;
gap: 15px
}

.club-thumbnail {
height: 150px;
min-width: 150px;
background-position: center;
background-size: cover;
}

.co-sponsor-list{
  list-style: none;
}

#cover-photo-upload{
text-align: end;
}

#cover-photo-up{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  margin-top: 15px;
}

